@page "/"
@model Chirp.Web.Pages.PublicModel
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var numPages     = Math.Ceiling((double)Model.totalCheeps / Model.cheepsPerPage);
    var username     = User.Identity?.Name;
}

<div>
    <div>
    @if(SignInManager.IsSignedIn(User))
    {
        <form method="post" asp-page-handler="Cheep">
            <div id="post-cheep-container">
                <label asp-for="CheepText" class="form-label">Hey @username! What's on your mind?</label>
                <input asp-for="CheepText" class="form-control" aria-required="true" />
                <span asp-validation-for="CheepText" class="text-danger"></span>
            </div>
            <div id="post-cheep-button-wrapper">
                <button id="post-cheep-button" type="submit" class="w-100 btn btn-lg btn-primary">Post Cheep!</button>
            </div>
        </form>
    } 
    else
    {
        <p>Wanna Cheep? Click <a asp-area="Identity" asp-page="/Account/Login">here</a> to log in.</p>
    }
    </div>



    <h2> Public Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <div class="cheep-wrapper">
                    <li>
                        @if(SignInManager.IsSignedIn(User) && username != null && username != cheep.Author.UserName)
                        {
                            var user = Model.SignedInAuthor;
                            @* [PACK INTO PARTIAL #1] *@
                            try
                            {
                                <form method="post" asp-page-handler="Follow">
                                    @Html.AntiForgeryToken()
                                    @if(user.Following.Any() && user.Following.Contains<Author>(cheep.Author))
                                    {
                                        <input type="hidden" asp-for="IsFollow" value="false" />
                                        <input type="hidden" asp-for="TargetAuthorUserName" value="@cheep.Author.UserName" />
                                        <button type="submit" class="following-button" OnClientClick="return false;">
                                            <img id="unfollow" src="/images/unfollow.svg" alt="Unfollow"></img>
                                        </button>
                                    }
                                    else
                                    {
                                        <input type="hidden" asp-for="IsFollow" value="true" />
                                        <input type="hidden" asp-for="TargetAuthorUserName" value="@cheep.Author.UserName" />
                                        <button type="submit" class="following-button" OnClientClick="return false;">
                                            <img id="follow" src="/images/follow.svg" alt="Follow"></img>
                                        </button>
                                    }
                                </form>
                            } 
                            catch(Exception ex)
                            {
                                <p>Exception Message: @ex.Message</p>
                            }
                        }

                        <p>
                            <strong>
                                <a href="/@cheep.Author.UserName">@cheep.Author.UserName</a>
                            </strong>
                            @cheep.Text
                            <small>&mdash; @cheep.TimeStamp</small>
                        </p>
                    </li>
                </div>
            }
        </ul>
    }

    else
    {
        <em>There are no cheeps so far.</em>
    }

    <div class="pagination">
        @for (int i = 0; i <= numPages; i++)
        {
            <a href="/?page=@(i+1)">@(i+1)</a>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
