@page "/"
@model Chirp.Web.Pages.PublicModel
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var NumberOfPages    = (Math.Ceiling((double) Model.TotalCheeps / Model.CheepsPerPage) - 1);
    var UserName         = @Model.UserName;
    var CheepOpinionInfo = @Model.CheepOpinionsInfo;
    var Cheeps           = @Model.Cheeps;
}

<div>
    @if(SignInManager.IsSignedIn(User))
    {
        <div class="post-cheep-wrapper">
            <div class="post-cheep-profilepicture profile-picture">
                <img src="/images/blank.png" alt="Profile Picture" />
                <strong>@UserName</strong>
            </div>
            <form method="post" asp-page-handler="Cheep">
                <input type="text" asp-for="CheepText" class="post-cheep-form-control form-control" aria-required="true" placeholder="Hey @UserName! What's on your mind?" />
                <span asp-validation-for="CheepText" class="text-danger"></span>
                <div class="post-cheep-button-wrapper">
                    <button type="submit" class="post-cheep-button btn">Cheep!</button>
                </div>
            </form>
        </div>
    } 
    else
    {
        <p class="post-cheep-text">Wanna Cheep? Click <a asp-area="Identity" asp-page="/Account/Login">here</a> to log in.</p>
    }

    <h2> Public Timeline </h2>
    <div id="orderByContainer">
        <partial name="./Partials/_OrderByPartial" />
    </div>


    @if (Cheeps.Any())
    {
        <div id="cheepsContainer">
            <partial name="./Partials/_PublicCheepPartial" model="Model" />
        </div>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }

    <div class="pagination">
        @for (int i = 1; i <= NumberOfPages; i++)
        {
            @if(i == NumberOfPages)
            {
                <a href="/?page=@(i)">@(i)</a>
            } 
            else
            {
                <a href="/?page=@(i)">@(i)</a>
            }
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        // [TODO] Convert to AJAX
        const toggle = () => { document.querySelector('.dropdown-wrapper').classList.toggle('active'); };
        document.querySelector('.toggle').addEventListener("click", toggle);

        // #1: Re-configure order of Cheeps:
        function orderCheeps(orderBy) {
            console.log('Ordering Cheeps by:', orderBy);

            var cheepContainer = $('#cheepsContainer');

            $.ajax({
                url: '@Url.Page("/Public")?handler=OrderCheepsBy&orderBy=' + orderBy,
                method: 'GET',
                success: function (data) {
                    console.log('AJAX success! Received data:', data);
                    $('#cheepsContainer').html(data);
                },
                error: function (xhr, status, error) {
                    alert('Failed to retrieve Cheeps');
                    $('#cheepsContainer').html("[AJAX Error] Cheeps could not located");
                }
            });
        }

        // #2: Follow-&-Unfollow POST Request AJAX
        $(document).on('submit', '#followForm', function (e) {
            e.preventDefault();

            console.log('Form "Follow" submission clicked!');


            var formData = new FormData($(this)[0]);   
            var followOrUnfollow = $(this).find('button[type="submit"]:focus').val()
            var orderByValue = $('input[name="test"]:checked').val();

            console.log('Order by: ',orderByValue);
            console.log('Follow or Unfollow: ',followOrUnfollow);  

            $.ajax({
                url: '@Url.Page("/Public")?handler=Follow&orderBy' + orderByValue,
                type: 'POST',
                beforeSend: function (xhr) {  
                    xhr.setRequestHeader("XSRF-TOKEN",  $('input:hidden[name="__RequestVerificationToken"]').val());  
                },  
                data: formData,
                processData: false,  
                contentType: false,  
                success: function (data) {
                    console.log('AJAX success! Received data:', data);
                    $('#cheepsContainer').html(data);
                },
                error: function (xhr, status, error) {
                    console.error('AJAX error:', status, error);
                }
            });

        });

        // #3: Like-&-Dislike POST Request AJAX
        $(document).on('submit', '#likeDisForm', function (e) {
            e.preventDefault();
            e.stopPropagation();

            console.log('Form "DislikeOrLike" submission clicked!');

            var formData = new FormData($(this)[0]);            
            var likeDislikeValue = $(this).find('button[type="submit"]:focus').val()
            var orderByValue = $('input[name="test"]:checked').val();

            console.log('Order by: ',orderByValue);
            console.log('Like or Dislike: ',likeDislikeValue);

            $.ajax({
                url: '@Url.Page("/Public")?handler=DislikeOrLike&opinion=' + likeDislikeValue + '&orderBy=' + orderByValue,
                type: 'POST',
                beforeSend: function (xhr) {  
                    xhr.setRequestHeader("XSRF-TOKEN",  $('input:hidden[name="__RequestVerificationToken"]').val());  
                },  
                data: formData,
                processData: false,  
                contentType: false,  
                success: function (data) {
                    console.log('AJAX success! Received data:', data);
                    $('#cheepsContainer').html(data);
                },
                error: function (xhr, status, error) {
                    console.error('AJAX error:', status, error);
                }
            });
        });
    </script>
}