@page "/"
@model Chirp.Web.Pages.PublicModel
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var numPages       = Math.Ceiling((double)Model.TotalCheeps / Model.CheepsPerPage);
    var username       = User.Identity?.Name;
    var CheepOpinionInfo = @Model.CheepOpinionsInfo;
    var Cheeps           = @Model.Cheeps;
}

<div>
    @if(SignInManager.IsSignedIn(User))
    {
        <div class="post-cheep-wrapper">
            <div class="post-cheep-profilepicture profile-picture">
                <img src="/images/blank.png" alt="Profile Picture" />
                <p>@username</p>
            </div>
            <form method="post" asp-page-handler="Cheep">
                <input type="text" asp-for="CheepText" class="post-cheep-form-control form-control" aria-required="true" placeholder="Hey @username! What's on your mind?" />
                <span asp-validation-for="CheepText" class="text-danger"></span>
                <div class="post-cheep-button-wrapper">
                    <button type="submit" class="post-cheep-button btn" >Cheep!</button>
                </div>
            </form>
        </div>
    } 
    else
    {
        <p class="post-cheep-text">Wanna Cheep? Click <a asp-area="Identity" asp-page="/Account/Login">here</a> to log in.</p>
    }

    <div class="public-timeline-header-wrapper">
        <h2> Public Timeline </h2>

        <!-- DROP DOWN HERE --> 
        <div class="dropdown-wrapper">
                <div class="icon-wrapper">
                    <button class="toggle toggle-dropdown-button btn">Order by Options</button>
                    <div class="dropdown-content">
                        <ul>
                            <li class="option" onclick="orderCheeps('timestamp')">
                                <input type="radio" name="test" id="1">
                                <label for="1">Time Stamp</label>
                                <div class="check"></div>
                            </li>
                            <li class="option" onclick="orderCheeps('liked')">
                                <input type="radio" name="test" id="2">
                                <label for="2">Most Liked</label>
                                <div class="check"></div>
                            </li>
                            <li class="option" onclick="orderCheeps('hated')">
                                <input type="radio" name="test" id="3">
                                <label for="3">Most Hated</label>
                                <div class="check"></div>
                            </li>
                            <li class="option" onclick="orderCheeps('name')">
                                <input type="radio" name="test" id="4">
                                <label for="4">By Name</label>
                                <div class="check"></div>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
        <!-- DROP DOWN HERE! --> 
    </div>

    <div id="cheepsContainer">
        @if (Cheeps.Any())
        {
            @await Html.PartialAsync("_CheepPartial", Model)
        }
        else
        {
            <em>There are no cheeps so far.</em>
        }
    </div>

    <div class="pagination">
        @for (int i = 0; i <= numPages; i++)
        {
            @if(i == numPages)
            {
                <a href="/?page=@(i+1)">@(i+1)</a>
            } 
            else
            {
                <a href="/?page=@(i+1)">@(i+1), </a>
            }
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        // 01. Toggle 'OrderCheepsOptions':
        const toggle = () => { document.querySelector('.dropdown-wrapper').classList.toggle('active'); };
        document.querySelector('.toggle').addEventListener("click", toggle);

        function orderCheeps(orderBy) {
            console.log('Ordering Cheeps by:', orderBy);

            $.ajax({
                url: '/Public?handler=OrderCheepsBy&orderBy=' + orderBy,
                type: 'GET',
                success: function (data) {
                    console.log('AJAX success! Received data:', data);
                    $('#cheepsContainer').html(data);
                },
                error: function (xhr, status, error) {
                    console.error('AJAX error:', status, error);
                }
            });
        }
    </script>
}