@page "/{author}"
@model Chirp.Web.Pages.UserTimelineModel
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author")?.ToString();

    var UserFollowersAndTheirCheeps = @Model.FollowersAndTheirCheeps;
    var TLU_Followers = @Model.Followers;
    var TLU_Following = @Model.Following;
    var TLU_Cheeps    = @Model.TLU_Cheeps;
    var CheepOpinionsInfo = Model.CheepOpinionsInfo;
    var SignedInUser = SignInManager.IsSignedIn(User);

    string? username  = User.Identity?.Name;
    Author? SIU = Model.SignedInUser;   // 01. SignedInUser
    Author? TLU = Model.TimelineUser;   // 02. TimelineUser
}

<div class="user-time-line-container">
    
    <div class="user-time-line-header-container">
        <h3> @routeName's Timeline </h3>
        @if(SignedInUser && username != null) @* 'username != null' should be always FALSE if user is signed in [This was just added to remove warning] *@
        {
            // 01. Embed option to Follow User:
            @if(routeName != username)
            {
                try
                {
                    <form method="post" asp-page-handler="Follow">
                        @Html.AntiForgeryToken()
                        @if(SIU.Following.Any() && SIU.Following.Contains<Author>(TLU))
                        {
                            <input type="hidden" asp-for="IsFollow" value="false" />
                            <input type="hidden" asp-for="TargetAuthorUserName" value="@TLU.UserName" />
                            <button type="submit" class="following-button" OnClientClick="return false;">
                                <img id="unfollow" src="/images/unfollow.svg" alt="Unfollow"></img>
                            </button>
                        }
                        else
                        {
                            <input type="hidden" asp-for="IsFollow" value="true" />
                            <input type="hidden" asp-for="TargetAuthorUserName" value="@TLU.UserName" />
                            <button type="submit" class="following-button" OnClientClick="return false;">
                                <img id="follow" src="/images/follow.svg" alt="Follow"></img>
                            </button>
                        }
                    </form>
                }
                catch(Exception ex)
                {
                    <p>[USER-TIME-LINE.CSHTML] Exception Message: @ex.Message --- Exception Location: @ex.TargetSite</p>
                }
            } 
            // 02. Embed option to be forgotten:
            else if(routeName == username)
            {
                <form method="post" asp-page-handler="ForgetMe">
                    <input type="hidden" asp-for="TargetAuthorUserName" value="@SIU.UserName" />
                    <button type="submit" class="forget-me">Forget Me!</button>
                </form>
            }
        }
    </div>
    <ul class="cheeps"> @* Can id be removed? *@
    @if (Model.TLU_Cheeps.Any())
    {
        @foreach (var cheep in TLU_Cheeps)
        {
            <li>
                <div class="cheep-wrapper">
                    @{
                        var co_Info = CheepOpinionsInfo.GetValueOrDefault(cheep.CheepId);
                        int cheepNumLikes        = co_Info.NumLikes;
                        int cheepNumDislikes     = co_Info.NumDislikes;
                    }

                    <div class="cheep-profilepicture-name-time">
                        <img src="/images/blank.png" alt="Profile Picture">
                        <div class="cheep-name-time">
                            <strong>
                                <a href="/@cheep.Author.UserName">@cheep.Author.UserName</a>
                            </strong>
                            <small>@cheep.TimeStamp</small>
                        </div>
                    </div>

                    <div class="cheep-text-wrapper">
                        <p>@cheep.Text</p>
                    </div>

                    <div class="cheep-number-likes-dislikes-wrapper">
                        <small><img src="/images/thumbup.svg" alt="Like"></img> @cheepNumLikes</small>
                        <small><img src="/images/thumbdown.svg" alt="Dislike"></img> @cheepNumDislikes</small>
                    </div>

                    @if(SignedInUser && TLU == SIU)
                    {
                    <div class="cheep-delete-wrapper">
                        <form id="deleteCheep" method="post" asp-page-handler="DeleteCheep">
                            <input type="hidden" asp-for="TargetCheepId" value="@cheep.CheepId" />
                            <input type="hidden" asp-for="TargetAuthorUserName" value="@username" />
                            <button type="submit" name="deleteCheep" class="delete-button" >
                                DELETE CHEEP!
                                @* <img src="/penis.svg" alt="Delete"></img> *@
                            </button>
                        </form>
                    </div>
                    }
                </div>
            </li>
        }
    }
    else
    {
        // followerText
        <em>There are no cheeps so far.</em>
    }
    </ul>

    <h3> Following </h3>
    <ul class="cheeps">
        @if (TLU_Following.Any())
        {
            @foreach (var follower in TLU_Following)
            {
                List<Cheep>? currFollowerCheep = UserFollowersAndTheirCheeps.GetValueOrDefault(follower);

                string followerText = (SignedInUser && follower.UserName.Equals(username) ? "Your Cheeps" : follower.UserName);

                <div class="cheep-profilepicture-usertimeline">
                    <img src="/images/blank.png" alt="Profile Picture">
                    <h5><a href="/@follower.UserName">@followerText</a></h5>
                </div>

                @if(currFollowerCheep != null && currFollowerCheep.Any())
                {
                    @foreach (var cheep in currFollowerCheep)
                    {
                        <li>
                            @{
                                var co_Info = CheepOpinionsInfo.GetValueOrDefault(cheep.CheepId);
                                var currAuthorOpinion    = co_Info.AuthorCheepOpinion;
                                int cheepNumLikes        = co_Info.NumLikes;
                                int cheepNumDislikes     = co_Info.NumDislikes;
                            }

                            <div class="cheep-text-wrapper">
                                <p>
                                    @cheep.Text
                                    <small>&mdash; @cheep.TimeStamp</small>
                                </p>
                            </div>

                            <div class="cheep-number-likes-dislikes-wrapper">
                                <small><img src="/images/thumbup.svg" alt="Like"></img> @cheepNumLikes</small>
                                <small><img src="/images/thumbdown.svg" alt="Dislike"></img> @cheepNumDislikes</small>
                            </div>

                            <div class="cheep-util-wrapper">
                                @if(SignedInUser && SIU.UserName != TLU.UserName)
                                {
                                <div class="form-like-and-dislike">
                                    <form id="likeDis" method="post" asp-page-handler="DislikeOrLike">
                                        <input type="hidden" asp-for="TargetCheepId" value="@cheep.CheepId" />
                                        <input type="hidden" asp-for="TargetAuthorUserName" value="@username" />
                                        <button type="submit" name="likeDis" value="like" class="like-button" style="@(currAuthorOpinion == Enums.ACO.AuthorCheepOpinion.DISLIKES ? "opacity: 0.5;" : "opacity: 1.0;")">
                                            <img src="/images/thumbup.svg" alt="Like"></img>
                                        </button>
                                        <button type="submit" name="likeDis" value="dislike" class="dislike-button" style="@(currAuthorOpinion == Enums.ACO.AuthorCheepOpinion.LIKES ? "opacity: 0.5;" : "opacity: 1.0;")">
                                            <img src="/images/thumbdown.svg" alt="Dislike"></img>
                                        </button>
                                    </form>
                                </div>
                                }
                            </div>
                        </li>
                    }
                }

            }
        }
        else
        {
            @if(routeName.Equals(username))
            {
                <em>You currently aren't Following anyone.</em>
            } 
            else
            {
                <em>@routeName currently isn't Following anyone.</em>
            }
        }
    </ul>


    <h3> Followers </h3>
    <ul class="cheeps">
        @if (TLU_Followers.Any())
        {
            @foreach (var follower in TLU_Followers)
            {
                // [TODO] Create simple author books with details on User:
                //        - Number of Cheeps
                //        - Number of Followers
                //        - Picture
                <h5>
                    <a href="/@follower.UserName">@follower.UserName</a>
                </h5>
            }
        }
        else
        {
            @if(routeName == username)
            {
                <em>You currently have no Followers :(</em>
            } 
            else
            {
                <em>@routeName currently has no Followers.</em>
            }
        }
    </ul>
</div>

    <div class="pagination">
        @for (int i = 1; i <= Math.Ceiling((double) Model.TotalCheeps / Model.CheepsPerPage) - 1; i++)
        {
            <a href="/@routeName/?page=@i">@i</a>
        }
    </div>

</div>
